@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.app-header{
  text-align: center;
  padding: 20px;
  color: rgb(44, 90, 44);
  word-spacing: normal;
}

.header{
  font-family: 'Azeret Mono', monospace;
  font-size: 30px;
}
.app-body{
  padding: 20px;
  text-align: center;
}

/* .language-select{
  height: 40px !important;
  margin-bottom: 15px;
  outline: none !important;
} */
.container{
  max-width: 80vw;
  background-color:rgba(240, 245, 245, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px ;
  gap: 10px;
  position: relative;
  padding-right: 4rem !important;
  transform:scale(1,1);
  transition: transform  .5s ease-in-out ;
}

.container:hover{
  transform:scale(1.01,1.01);
  -webkit-transform:scale(1.01,1.01);
  -moz-transform:scale(1.01,1.01);
  /* box-shadow: 12px 12px 2px 1px rgba(178, 180, 180, 0.2); */
  box-shadow: 12px 12px rgba(226, 225, 225,0.3), -1em 0 .4em rgba(221, 221, 217,0.3);
  transition:transform box-shadow .5s ease-in-out;
}

.input-container{
  width:100%;
  position:absolute;
  margin:1rem !important;
  margin-right:2rem !important;
}

.translate-btn{
  height:3.5rem;
}